/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*
	==============================
	Custom Styles
	==============================
*/

body {
	background: #ddd;
	font: 300 16px/18px "Helvetica Neue", Helvetica, Arial, sans-serif;
}

/*
	==============================
	Grid
	==============================
*/

*,
*:before,
*:after {
	-webkit-box-sizing: border-box;
	   -mox-box-sizing: border-box;
	        box-sizing: border-box;
}

.container,
.grid {
	margin: 0 auto;
	width: 960px;
}

.container {
  padding-left: 30px;
  padding-right: 30px;
}

.col-1-2 {
	width: 50%;
	display: inline-block;
	vertical-align: top;
}

.grid,
.col-1-2 {
	padding-left: 15px;
	padding-right: 15px;
}

/*
	==============================
	Clearfix
	==============================
*/

.group:before,
.group:after {
	content:"";
	display:table;
}

.group:after {
	clear: both;
}

.group {
	clear: both;
	*zoom: 1;
}

/*
	==============================
	Main Header & Footer
	==============================
*/

.primary-header {
	height: 100px;
	background: -webkit-linear-gradient(to right, #d8f, #70a);
	background: -moz-linear-gradient(to right, #d8f, #70a);
	background: linear-gradient(to right, #d8f, #70a);
	font: 300 16px Karla, "Helvetica Neue", Helvetica, Arial, sans-serif;

}

h1 {
	font-size: 70px;
	padding: 10px 30px;
	text-shadow: 3px 3px rgba(0, 0, 0, .2);
}

.primary-footer {
	position: fixed;
	bottom: 0;
	height: 50px;
	width: 100%;
	background: -webkit-linear-gradient(to right, #d8f, #70a);
	background: -moz-linear-gradient(to right, #d8f, #70a);
	background: linear-gradient(to right, #d8f, #70a);
	font: 300 12px Karla, "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.primary-footer small {
	position: absolute;
	padding-left: 25px;
	padding-top: 17px;
}

/*
	==============================
	Tweet & Control Frames
	==============================
*/

#tweetFrame {
	padding: 20px;
	margin-bottom: 40px;
}

.tile {
	border: 2px solid #000;
	border-radius: 15px;
	padding: 10px;
	background: -webkit-linear-gradient(to right, #FAEDFF, #d8f);
	background: -moz-linear-gradient(to right, #FAEDFF, #d8f);
	background: linear-gradient(to right, #FAEDFF, #d8f);
}

.tweet {
	margin-top: 10px;
	
}

.user {
	text-align: center;
	margin: 5px 0;
}

.tweet:first-child {
	margin-top: 0px
}

.timestamp {
	margin-left: 18px;
	font-size: 10px;
	color: #555;
}

.controls {
	padding: 20px;
}

h3 {
	padding-left: 30px;
	font-size: 22px;
	margin-bottom: 5px;
}

.tweet:hover,
.user:hover,
.closed:hover {
	border-color: #b0f;
	background: #d8f;
}

/*
	==============================
	New Tweet Control
	==============================
*/

.controls {
	position: fixed;
	border: 2px solid #000;
	border-radius: 15px;
	margin: 10px;
	top: 25%;
	width: 47.5%;
}

form {
	margin: 20px 15% 0 15%;
}

.post-frame {
	text-align: center;
}

.post-group {
	margin: 10px;
	text-align: left;
	display: none;
}

.post-group .vis-name,
.post-group textarea {
	display: block;
}

.post-group label {
	margin-bottom: 2px;
}

.post-group textarea {
	width: 100%;
	margin-bottom: 5px;
}